*.log
*.xsd
*.class
*.txt
*.number
*.png
*.jar
*.xmi
*-testclasses.xml
*-webtestclasses.xml
*.template


**/hsperfdata_/**
/**/build.xml
/**/buildcallbacks.xml
/**/ruleset.xml

/**/lib/**

/temp/**
/roles/**
/idea-module-files/**
/data/**
/log/**
/**/gensrc/**
/bin/ext-*/**
/bin/platform/**
/.idea/**

.springBeans
.pmd
.project
.classpath
/**/.externalToolBuilders/**
/**/.settings/**
